.sideBar{
  width: 200px;
  height: 640px;
  position: sticky;
  top: 0;
  display: flex;
}
.sideIcons{
  min-width: 72px;
  background-color: #5048E5;
  display: flex;
  justify-content: center;
}
.footer{
  position: absolute;
  bottom: 16px;
  color: #ffffff;
  font-size: x-large;
}
.sideNavs{
  background-color: #FFFFFF;
  min-width: 120px;
}
.navItemsContainer{
  margin-top: 16px;
}
.navItem{
  display: block;
  height: 32px;
  color: #374151;
  padding: 6px 16px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
}
.add{
  background: none;
  border: none;
  color:#5048E5;
  cursor: pointer;
  padding: 6px 16px;
  font-size: 20px;
}